<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Educacion 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo animi molestias numquam adipisci quibusdam provident earum? Eum, ullam totam architecto officiis quisquam nemo aspernatur eaque fugit, molestias vitae error quaerat?</p>
        </ul>
        <ul>
            <li>
                <h1>Educacion 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo animi molestias numquam adipisci quibusdam provident earum? Eum, ullam totam architecto officiis quisquam nemo aspernatur eaque fugit, molestias vitae error quaerat?</p>
        </ul>
        <ul>
            <li>
                <h1>Educacion 3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo animi molestias numquam adipisci quibusdam provident earum? Eum, ullam totam architecto officiis quisquam nemo aspernatur eaque fugit, molestias vitae error quaerat?</p>
        </ul>
    </div>
</div>