<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Perfil.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Plazaola Gonzalo Sebastian</p>
        <div>Full Stack Developer Jr</div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Soy una persona que está en la búsqueda de proyectos que me ayuden a mejorar mis habilidades y obtener más experiencia y conocimientos.</p>
        </span>
    </div>
</div>